.event-image-scroll {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .image-container {
    flex: none;
    position: relative;
    margin-right: 10px;
  }
  
  .image-container img {
    display: block;
    width: 300px; /* Set your desired width */
    height: auto;
  }
  
  .caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
  }
  