.events{
    text-align: center;
    margin-bottom: 30px;
    color: black;
}
.events-menu{
    margin-top: 30px;
    text-align: center;
}
.service{
    margin-top: 30px;
    text-align: center;
    color: black;
}
.userfeedback{
    margin-top: 30px;
    text-align: center;
    color: black;
}